/* #tutorcontainter {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-between;
	padding-top: 50px;
	flex-shrink: 0;
	width: 100%;
	max-width: 100%;
	padding-right: calc(var(--bs-gutter-x) * 0.5);
	padding-left: calc(var(--bs-gutter-x) * 0.5);
	margin-top: var(--bs-gutter-y);
    border-top: 10px;
} */
